	<div class="container">
		<div class="header clearfix">
			<h3 class="text-muted">Sudoku-Solver</h3>
		</div>
		<div class="jumbotron">
			<p class="lead">Enter starting values and hit Solve</p>
			<div class='container'>
				<div class='row' data-ng-repeat="row in board">
					<div class='row' data-ng-if="$index % 3 == 0" >
						&nbsp;
					</div>
					<div class="col-xs-2">
						<input data-ng-model="board[$index][0]" type='text' size='1'>
						<input data-ng-model="board[$index][1]" type='text' size='1'>
						<input data-ng-model="board[$index][2]" type='text' size='1'>
					</div>
					<div class="col-xs-2">
						<input data-ng-model="board[$index][3]" type='text' size='1'>
						<input data-ng-model="board[$index][4]" type='text' size='1'>
						<input data-ng-model="board[$index][5]" type='text' size='1'>
					</div>
					<div class="col-xs-2">
						<input data-ng-model="board[$index][6]" type='text' size='1'>
						<input data-ng-model="board[$index][7]" type='text' size='1'>
						<input data-ng-model="board[$index][8]" type='text' size='1'>
					</div>
				</div>
			</div>
			<div class='row'>
				&nbsp;
			</div>
			<div class='row'>
				{{message}}
			</div>
			<div class='row'>
				<div class="col-xs-2">
					<a class="btn btn-lg btn-success" data-ng-click="solve()" role="button">Solve</a>
				</div>
				<div class="col-xs-2">
					<a class="btn btn-lg btn-success" data-ng-click="clearBoard()" role="button">Clear Board</a>
				</div>
				<div class="col-xs-2">
					<a class="btn btn-lg btn-success" data-ng-click="getBoard('1')" role="button">Get Board 1</a>
				</div>
				<div class="col-xs-2">
					<a class="btn btn-lg btn-success" data-ng-click="getBoard('2')" role="button">Get Board 2</a>
				</div>
				<div class="col-xs-2">
					<a class="btn btn-lg btn-success" data-ng-click="getBoard('3')" role="button">Get Board 3</a>
				</div>
				<div class="col-xs-2">
					<a class="btn btn-lg btn-success" data-ng-click="getBoard('4')" role="button">Get Board 4</a>
				</div>
			</div>
		</div>
	</div>
